body {
    color: white;
    background-color: black;

    margin: 0;
    padding: 0;
}

.error {
    background-color: red;
}

#run {
    border: none;
    outline: none;
    color: white;
    
    width: 100vw;
    background-color: green;
}

#clear {
    border: none;
    outline: none;
    color: white;

    width: 100vw;
    background-color: red;
    margin-top: 0;
}

#run:hover, #clear:hover {
    cursor: pointer;
}

#code {
    height: 90vh;
    width: 99vw;

    color: white;
    background-color: black;
}

#console {
    width: 99vw;
    border: 1px solid white;
}